<header class="header">
    <nav class="navbar">
        <div class="nav-brand">
            <img src="logo-test-2.png" (click)="scrollToSection('hero')" class="logo" alt="">
            <!-- <h2>Mohamed</h2> -->
        </div>

        <div class="nav-menu" [ngClass]="{'active': isMenuOpen}">
            <a  (click)="scrollToSection('hero')" class="nav-link">Home</a>
            <a  (click)="scrollToSection('about')" class="nav-link">About</a>
            <a  (click)="scrollToSection('skills')" class="nav-link">Skills</a>
            <a  (click)="scrollToSection('projects')" class="nav-link">Projects</a>
            <a  (click)="scrollToSection('contact')" class="nav-link">Contact</a>
        </div>

        <div class="hamburger" (click)="toggleMenu()" [ngClass]="{'active': isMenuOpen}">
            <span>Home</span>
            <span>About</span>
            <span>Projects</span>
        </div>
    </nav>
</header>